* {
  font-family: "Open Sans";
  font-weight: bold;
    color: white;
}

html {
  background: #41B3A3;
   /*background: #ece9e9;*/
  /*background: linear-gradient(to bottom right, #e0e9e9 5vmin, #f8f0f0 calc(50% - 10vmin), #f8f0e0 calc(50% + 10vmin), #ece9e9 calc(100% - 10vmin)) 0 0/ 100% 100vh fixed; */*/
}

h1{
  font-weight: bold;
}

body {
  display: grid;
  place-items: center;
}

.malta_logo {
  width: 40px;
}

.tab {
  border-bottom: 1px solid #ccc;
}

/* Style the buttons inside the tab */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  /* background-color: #ccc; */
  border-bottom: 3px solid #E8A87C;
}

#day_title {
  display: block;
}

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.daytabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#days_button {
  font-size: 15px;
  padding: 10px;
}

.place {
  text-align: center;
  padding: 10px;
}
/*.days_content {*/
/*[>text-align: center;<]*/

/*}*/

#timetableButton{
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
    color:black
  text-align: center;
}

